<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo -->
      <div class="logo-mini">
        <span class="light-logo"
          ><img src="../../assets/images/logo-light.png" alt="logo"
        /></span>
        <span class="dark-logo"
          ><img src="../../assets/images/logo-dark.png" alt="logo"
        /></span>
      </div>
      <!-- logo-->
      <div class="logo-lg">
        <span class="light-logo"
          ><img src="../../assets/images/logo-light-text.png" alt="logo"
        /></span>
        <span class="dark-logo"
          ><img src="../../assets/images/logo-dark-text.png" alt="logo"
        /></span>
      </div>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <div>
        <a
          href="#"
          class="sidebar-toggle"
          data-toggle="push-menu"
          role="button"
        >
          <span class="sr-only">Toggle navigation</span>
        </a>
      </div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img
                src="../../assets/images/avatar/10.jpg"
                class="user-image rounded-circle"
                alt="User Image"
              />
            </a>
            <ul class="dropdown-menu animated flipInY">
              <!-- User image -->
              <li
                class="user-header bg-img"
                style="background-image: url(../../assets/images/user-info.jpg)"
                data-overlay="3"
              >
                <div class="flexbox align-self-center">
                  <img
                    src="../../assets/images/avatar/10.jpg"
                    class="float-left rounded-circle"
                    alt="User Image"
                  />
                  <h4 class="user-name align-self-center">
                    <span>محمد ظفری</span>
                    <small>samuel@gmail.com</small>
                  </h4>
                </div>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="ion ion-person"></i> پروفایل من</a
                >
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="ion ion-bag"></i> وضعیت مالی</a
                >
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="ion ion-email-unread"></i> پیام های دریافتی</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="ion ion-settings"></i> تنظیمات حساب کاربری</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="ion-log-out"></i> خروج از سامانه</a
                >
                <div class="dropdown-divider"></div>
                <div class="p-10">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-sm btn-rounded btn-success"
                    >View Profile</a
                  >
                </div>
              </li>
            </ul>
          </li>



        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="user-profile treeview">
          <a href="index.html">
            <img src="../../assets/images/avatar/10.jpg" alt="user" />
            <span>
              <span class="d-block font-weight-600 font-size-16"
                >محمد ظفری</span
              >
              <span class="email-id">zafari.ecom@gmail.com</span>
            </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="javascript:void()"
                ><i class="fa fa-user mr-5"></i>پروفایل من
              </a>
            </li>
            <li>
              <a href="javascript:void()"
                ><i class="fa fa-money mr-5"></i>وضعیت مالی</a
              >
            </li>
            <li>
              <a href="javascript:void()"
                ><i class="fa fa-envelope-open mr-5"></i>پیام های دریافتی</a
              >
            </li>
            <li>
              <a href="javascript:void()"
                ><i class="fa fa-cog mr-5"></i>تنظیمات حساب کاربری</a
              >
            </li>
            <li>
              <a href="javascript:void()"
                ><i class="fa fa-power-off mr-5"></i>خروج از سامانه</a
              >
            </li>
          </ul>
        </li>
        <li class="header nav-small-cap">
          <i class="mdi mdi-drag-horizontal mr-5"></i>اطلاعات مالی
        </li>

        <li class="treeview">
          <a href="#">
            <i class="mdi mdi-chart-line"></i>
            <span>کندل ها</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu ">
            <li class="active">
              <a href="../index.html" class="active"
                ><i class="mdi mdi-toggle-switch-off"></i>هامر</a
              >
            </li>

          </ul>
        </li>



      </ul>
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="page-title">سیستم هوشمند ارز دیجیتال  - مایا</h3>
          <div class="d-inline-block align-items-center">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#"><i class="mdi mdi-home-outline"></i></a>
                </li>
                <li class="breadcrumb-item" aria-current="page">داشبورد</li>

              </ol>
            </nav>
          </div>
        </div>
        <div class="right-title">

        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <img src="../assets/images/Candles/Hummer.png" class="title-candles">
          <h3 class="box-title">هامر</h3>

          <ul class="box-controls pull-right">
            <li><a class="box-btn-close" href="#"></a></li>
            <li><a class="box-btn-slide" href="#"></a></li>
            <li><a class="box-btn-fullscreen" href="#"></a></li>
          </ul>
        </div>
        <div class="box-body">
          <div id="chartContainer" style="height: 300px; width: 100%;">
          </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">Footer</div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
      <ul
        class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end"
      >
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Purchase Now</a>
        </li>
      </ul>
    </div>
    &copy; 2019
    <a href="https://www.multipurposethemes.com/">Multi-Purpose Themes</a>. All
    Rights Reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

