<div class="box">
  <div class="box-header with-border">
    <img src="../assets/images/Candles/Hummer.png" class="title-candles">
    <h3 class="box-title">هامر</h3>

    <ul class="box-controls pull-right">
      <li><a class="box-btn-close" href="#"></a></li>
      <li><a class="box-btn-slide" href="#"></a></li>
      <li><a class="box-btn-fullscreen" href="#"></a></li>
    </ul>
  </div>
  <div class="box-body">
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>

  </div>
  <div class="box-footer">Footer</div>
</div>
